@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
}
.logo{
    width: 20%;
    color: rgba(255, 255, 255, .9);
    text-align: right;
    font-size: xx-large;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}
.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.nav-links>li{
    list-style: none;
}
.nav-links>li>a{
    color: rgba(255, 255, 255, .9);
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: medium;
    padding-bottom: 3vh;
}
.nav-links>li>a:hover{
    border-bottom: 3px solid rgba(245, 188, 0, .9);
}
.menu-burger{
    display: none;
}
.menu-burger>div{
    width: 30px;
    height: 4px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.5s;
}
@media screen and (max-width: 1024px){
    .logo{
        width: 20%;
    }
    .nav-links{
        width: 50%;
    }
}
@media screen and (max-width: 768px){
    header{
        overflow-x: hidden;
    }
    .logo{
        width: 50%;
        text-align: center;
    }
    .nav-links{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50%;
        height: 90vh;
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links>li{
        margin-top: 5vh;
        opacity: 0;
    }
    .menu-burger{
        display: block;
        cursor: pointer;
    }
}
.nav-ativa{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.rotacao>.linha1{
    transform: rotate(-45deg) translate(-6px, 6px);
}
.rotacao>.linha2{
    opacity: 0;
}
.rotacao>.linha3{
    transform: rotate(45deg) translate(-6px, -6px);
}